<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullmusic.dao.TalkMapper">
    <resultMap id="BaseResultMap" type="com.fullmusic.pojo.Talk">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="vc_user_id" property="vcUserId" jdbcType="VARCHAR"/>
        <result column="vc_clockin_id" property="vcClockinId" jdbcType="VARCHAR"/>
        <result column="vc_content" property="vcContent" jdbcType="VARCHAR"/>
        <result column="vc_resource_url" property="vcResourceUrl" jdbcType="VARCHAR"/>
        <result column="vc_type" property="vcType" jdbcType="INTEGER"/>
        <result column="vc_invalid" property="vcInvalid" jdbcType="INTEGER"/>
        <result column="vc_createDate" property="vcCreatedate" jdbcType="TIMESTAMP"/>
        <result column="vc_updateDate" property="vcUpdatedate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, vc_user_id, vc_clockin_id, vc_content, vc_resource_url, vc_type, vc_invalid,
        vc_createDate, vc_updateDate
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fullmusic.pojo.TalkExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from vt_talk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from vt_talk
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from vt_talk
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.fullmusic.pojo.TalkExample">
        delete from vt_talk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fullmusic.pojo.Talk">
        insert into vt_talk (id, vc_user_id, vc_clockin_id,
        vc_content, vc_resource_url, vc_type,
        vc_invalid, vc_createDate, vc_updateDate
        )
        values (#{id,jdbcType=VARCHAR}, #{vcUserId,jdbcType=VARCHAR}, #{vcClockinId,jdbcType=VARCHAR},
        #{vcContent,jdbcType=VARCHAR}, #{vcResourceUrl,jdbcType=VARCHAR}, #{vcType,jdbcType=INTEGER},
        #{vcInvalid,jdbcType=INTEGER}, #{vcCreatedate,jdbcType=TIMESTAMP}, #{vcUpdatedate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.fullmusic.pojo.Talk">
        insert into vt_talk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="vcUserId != null">
                vc_user_id,
            </if>
            <if test="vcClockinId != null">
                vc_clockin_id,
            </if>
            <if test="vcContent != null">
                vc_content,
            </if>
            <if test="vcResourceUrl != null">
                vc_resource_url,
            </if>
            <if test="vcType != null">
                vc_type,
            </if>
            <if test="vcInvalid != null">
                vc_invalid,
            </if>
            <if test="vcCreatedate != null">
                vc_createDate,
            </if>
            <if test="vcUpdatedate != null">
                vc_updateDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="vcUserId != null">
                #{vcUserId,jdbcType=VARCHAR},
            </if>
            <if test="vcClockinId != null">
                #{vcClockinId,jdbcType=VARCHAR},
            </if>
            <if test="vcContent != null">
                #{vcContent,jdbcType=VARCHAR},
            </if>
            <if test="vcResourceUrl != null">
                #{vcResourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="vcType != null">
                #{vcType,jdbcType=INTEGER},
            </if>
            <if test="vcInvalid != null">
                #{vcInvalid,jdbcType=INTEGER},
            </if>
            <if test="vcCreatedate != null">
                #{vcCreatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="vcUpdatedate != null">
                #{vcUpdatedate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fullmusic.pojo.TalkExample" resultType="java.lang.Integer">
        select count(*) from vt_talk
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update vt_talk
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.vcUserId != null">
                vc_user_id = #{record.vcUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.vcClockinId != null">
                vc_clockin_id = #{record.vcClockinId,jdbcType=VARCHAR},
            </if>
            <if test="record.vcContent != null">
                vc_content = #{record.vcContent,jdbcType=VARCHAR},
            </if>
            <if test="record.vcResourceUrl != null">
                vc_resource_url = #{record.vcResourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.vcType != null">
                vc_type = #{record.vcType,jdbcType=INTEGER},
            </if>
            <if test="record.vcInvalid != null">
                vc_invalid = #{record.vcInvalid,jdbcType=INTEGER},
            </if>
            <if test="record.vcCreatedate != null">
                vc_createDate = #{record.vcCreatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.vcUpdatedate != null">
                vc_updateDate = #{record.vcUpdatedate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update vt_talk
        set id = #{record.id,jdbcType=VARCHAR},
        vc_user_id = #{record.vcUserId,jdbcType=VARCHAR},
        vc_clockin_id = #{record.vcClockinId,jdbcType=VARCHAR},
        vc_content = #{record.vcContent,jdbcType=VARCHAR},
        vc_resource_url = #{record.vcResourceUrl,jdbcType=VARCHAR},
        vc_type = #{record.vcType,jdbcType=INTEGER},
        vc_invalid = #{record.vcInvalid,jdbcType=INTEGER},
        vc_createDate = #{record.vcCreatedate,jdbcType=TIMESTAMP},
        vc_updateDate = #{record.vcUpdatedate,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fullmusic.pojo.Talk">
        update vt_talk
        <set>
            <if test="vcUserId != null">
                vc_user_id = #{vcUserId,jdbcType=VARCHAR},
            </if>
            <if test="vcClockinId != null">
                vc_clockin_id = #{vcClockinId,jdbcType=VARCHAR},
            </if>
            <if test="vcContent != null">
                vc_content = #{vcContent,jdbcType=VARCHAR},
            </if>
            <if test="vcResourceUrl != null">
                vc_resource_url = #{vcResourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="vcType != null">
                vc_type = #{vcType,jdbcType=INTEGER},
            </if>
            <if test="vcInvalid != null">
                vc_invalid = #{vcInvalid,jdbcType=INTEGER},
            </if>
            <if test="vcCreatedate != null">
                vc_createDate = #{vcCreatedate,jdbcType=TIMESTAMP},
            </if>
            <if test="vcUpdatedate != null">
                vc_updateDate = #{vcUpdatedate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fullmusic.pojo.Talk">
        update vt_talk
        set vc_user_id = #{vcUserId,jdbcType=VARCHAR},
        vc_clockin_id = #{vcClockinId,jdbcType=VARCHAR},
        vc_content = #{vcContent,jdbcType=VARCHAR},
        vc_resource_url = #{vcResourceUrl,jdbcType=VARCHAR},
        vc_type = #{vcType,jdbcType=INTEGER},
        vc_invalid = #{vcInvalid,jdbcType=INTEGER},
        vc_createDate = #{vcCreatedate,jdbcType=TIMESTAMP},
        vc_updateDate = #{vcUpdatedate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>